<td><%= title %></td>
<td><table>
<% l = $.parseJSON(lang);
_.each(Object.keys(l), function(key){
  %>
    <tr>
      <td class="country"><%= key %></td>
      <td><%= l[key] %></td>
    </tr>
  <%
}); %>
</table></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>