<!DOCTYPE html>
<html>
<head>
  <title>BackboneRailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <li><%= link_to 'Campaigns', campaigns_path %></li>
  <li><%= link_to 'Brands', brands_path %></li>
  <li><%= link_to 'Countries', countries_path %></li>
</ul>

<%= yield %>

</body>
</html>
